.avatar {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	border: 4px solid var(--success);
}

.popup {
	width: 380px;
}

.progress {
	border-radius: 15px;
}

input[type='range']::-webkit-slider-runnable-track {
	background-color: var(--secondary);
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: var(--success);
  }

.badge {
	border-radius: 10px;
	padding: 5px 10px;
}